body {
    margin: 0 0;

}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    background-color: rgb(255, 144, 14, .1);

}

/* here the all color of project text. */
.dark-2 {
    color: rgba(66, 66, 66, 1);
}

.dark-3 {
    color: rgba(114, 114, 114, 1);
}
.orange{
    color: #FF900E;
}
.banner-image img {
    width: 100%;
}

/* here all section main size: */
.main-size {
    max-width: 1100px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.link-item a {
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-weight: 500;
    font-size: 18px;

}

.band {
    font-weight: bold;
    font-size: 32px;

}

.link-container li {
    list-style: none;

}

.link-container {
    display: flex;
}

.link-container li {
    margin-left: 40px;
}

.banner,
.navbar {
    max-width: 1100px;
    margin: 0 auto;
}

.banner {
    margin-top: 70px;
    text-align: center;
}

.banner-content .title {
    width: 450px;
    margin: 0 auto;
}

.banner-content .sub-title {
    width: 720px;
    margin: 20px auto;
    font-size: 16px;
    /* margin-bottom: 50px; */
}

.btn-banner {
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0px;
}

.banner img {
    border-radius: 8px;
    margin: 30px 0;
}

/* here start feature decribe and team picture  */

main {
    width: 1100px;
    margin: 30px auto;
}

.feature {
    display: flex;
    justify-content: space-around;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
}

.image {
    width: 280px;
    height: 280px;
}

.image img {
    width: 100%;
}

.feature-content {
    width: 400px;
    display: flex;
    align-items: center;
}
.quick{
    font-weight: 500;
    font-size: 36px;
}
.feature-details h2{
    font-size: 36px;
}
.feature-details p{
    font-size: 14px;
    margin-top: 0px;
}

/* here start experience part */
.experience{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    height: 982px;
}
.girl-image{
    width: 500px;
    height: 790px;
    
}
.experience-details{
    width: 45%;
}
.girl-image img{
    width: 100%;
    height: 100%;
}

.experience-details h2{
    font-weight: bold;
    font-size: 35px;
    width: 320px;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}
.experience-details p{
    font-size: 14px;
}
.experience-details h4{
    font-weight: 700;
    font-size: 18px;
}
.experience-describe{
    background-color: white;
    height: 160px;
    box-shadow: 5px 5px 5px 5px rgb(241, 238, 238);
   padding-left: 15px;
   padding-top: 5px;
    margin-top: 10px;
}
/* here start some fact section */
.some-fact h1{
    font-size: 35px;
    font-weight: bold;
}
.some-subtitle{
    width: 470px;
    font-size: 14px;
}

.fact{
    border: 1px solid #FF900E;
    width: 180px;
    border-radius: 8px;
    text-align: center;
}
.fact img{
    margin-top: 20px;
}
.fact-container{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.fact p{
    font-size: 16px;
    font-weight: 500;
}


/* here start footer */

.our-sponspors{
    margin-top: 100px;
    width: 1100px;
    margin: 100px auto;
}

.our-sponspors h2{
    font-weight: bold;
    font-size: 34px;
    text-align: center;
}
.our-sponspors p{
    width: 500px ;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}
.sponspor{
    width: 150px;
}
.sponspor img{
    width: 100%;
}
.sponspor-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.last{
    background-color:rgb(255, 144, 14, .1) ;
    border-radius: 8px;
    
}
.last p{
    padding: 15px;
    text-align: center;
}
